# Игнорируем секреты и настройки среды
.env
*.env
.env.*

# Игнорируем виртуальные окружения Python
venv/
.venv/
env/

# Игнорируем кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем логи (чтобы не тащить мусор на сервер)
**/*.log
logs/

# Игнорируем Git и настройки редактора
.git
.gitignore
.vscode/
.idea/

# Игнорируем файлы
README.MD